.head {
    margin-bottom: 10px;
}

.container {
    border: 2px solid rgb(206, 45, 45);
    border-radius: 1em;
    width: 90%;
    margin: auto;
    background-color: #7f8c8d;
    margin-bottom: 15px;
    padding-top: 15px;
}

table {
    border-collapse: separate;
    background-color: #7f8c8d;
}

#moreinfo {
    margin: auto;
    margin-top: 5px;
    width: 60%;
}

img {
    background-color: transparent;
    width: 100%;
    margin: auto;
    border-radius: 3px;
}